 body{
    background-color: lightblue;
 }
 a{
    text-decoration: none;
    color: rgb(red green blue / alpha);
    background-color: rgb(from color r g b);
    padding: 7px;
    border: 2px solid blue;
    border-radius: 10px;
    font-family: cursive;

 }
 a:hover{
    background-color: blue;
    color: white;
    border: 2px;
 }
 .class-heading:hover{
    text-decoration: underline;
    color: aquamarine;
    text-transform: lowercase;
 }
 
